<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs" color="primary"></ion-back-button>
        </ion-buttons>
        <!-- <ion-buttons slot="end">
            <ion-icon color="primary" class="icon-font" name="notifications-outline" (click)="notifications()"></ion-icon>
        </ion-buttons> -->
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center title" color="primary">Post</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="background-picture">

        <div class="login-details">

            <div class="custom-div">
                <ion-slides pager="true" mode="ios">
                    <ion-slide *ngFor="let element of videoData.videos">
                        <img *ngIf="!element.isvideo" [src]="element.path" style="height:240px;" alt="">
                        <video *ngIf="element.isvideo" width="320" height="240" controls poster="../../../../assets/images/Icon ionic-ios-play-circle.png">
              <source [src]="element.path" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
                    </ion-slide>
                </ion-slides>
            </div>
            <h5>{{videoData.title}}</h5>
            <div class="d-flex ion-justify-content-between ion-align-items-center pr-4 pl-4">
                <small>{{videoData.createdAt |date}}</small>
                <div class="d-flex ion-align-items-center">
                    <ion-icon name="eye-outline"></ion-icon> <small class="pl-2">{{videoData.total_views}}</small>
                </div>
            </div>

            <h6 class="custom-class">{{videoData.description}}</h6>

            <ion-item *ngFor="let comment of videoData.comments" class="mb-2" lines="none">
                <!-- <ion-avatar slot="start"> -->
                <img src="../../../assets/images/Rectangle 28.png" class="w-40-px ml-2">
                <!-- </ion-avatar> -->
                <ion-label>
                    <h2 class="ml-3 font-weight-bold">Rey</h2>
                    <p class="ml-3">{{comment.message}}</p>
                </ion-label>
            </ion-item>

            <div class="custom-icon">
                <ion-input type="username" clearOnEdit="true" [(ngModel)]="message" name="password" class="password" placeholder="Write Comment">
                </ion-input>
                <img src="../../../../assets/images/Icon material-send.png" alt="" (click)="commentVideo(videoData , videoData.videos)">
                <!-- <ion-icon src="../../../../assets/images/Icon material-send.png" slot="end" align-self-center></ion-icon> -->
                <!-- <ion-icon name="person" src="../../../../assets/images/Icon material-send.png" slot="end" align-self-center></ion-icon> -->
            </div>

        </div>
    </div>

</ion-content>