<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs" color="primary"></ion-back-button>
        </ion-buttons>
        <!-- <ion-buttons slot="end">
            <ion-icon color="primary" class="icon-font" name="notifications-outline" (click)="notifications()"></ion-icon>
        </ion-buttons> -->
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center title" color="primary">Chat</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="background-picture">
        <div class="login-details pr-1 pl-1 custom-textarea">
            <!-- <ion-searchbar [(ngModel)]="filterTerm" showCancelButton="focus" mode="ios" placeholder="Search Here"></ion-searchbar> -->
            <!-- <ion-searchbar></ion-searchbar> -->

            <ion-item *ngFor="let user of users; let i = index;" (click)="getVideos(user,i)" button detail="false" class="mb-2" button lines="none" >
                <!-- <ion-avatar slot="start"> -->
                <!-- <img [src]="user.user_dp.path" src="../../../assets/images/Rectangle 26.png" class="w-25"> -->
                <img src="{{user.user_dp.path}}" style="width: 40px;" alt="Avatar">
                <!-- </ion-avatar> -->
                <ion-label >
                    <div class="d-flex ion-justify-content-between ion-align-items-center">
                        <h2 class="ml-3 font-weight-bold">{{user.fname + " " +user.lname}}</h2>
                        <!-- <ion-badge color="danger" class="rounded-circle">66</ion-badge> -->
                    </div>
                    <p class="ml-3">{{user.createdAt | date}}</p>
                </ion-label>
            </ion-item>

        </div>
    </div>



    <ion-tabs>
        <ion-tab-bar slot="bottom" selectedTab="chat" color="primary">

            <!-- <a routerLink="/tabs/home"> -->
            <ion-tab-button routerLink="/tabs">
                <ion-icon class="appname-customicon1"></ion-icon>
                <!-- <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge> -->
            </ion-tab-button>
            <!-- </a> -->

            <!-- <a routerLink="/tabs/post"> -->
            <ion-tab-button routerLink="/tabs/post">
                <ion-icon class="appname-customicon2"></ion-icon>
            </ion-tab-button>
            <!-- </a> -->

            <!-- <a routerLink="/tabs/video"> -->
            <ion-tab-button routerLink="/tabs/video">
                <ion-icon class="appname-customicon3"></ion-icon>
            </ion-tab-button>
            <!-- </a> -->

            <!-- <a routerLink="/tabs/chat"> -->
            <ion-tab-button tab="chat">
                <ion-icon class="appname-customicon4"></ion-icon>
            </ion-tab-button>
            <!-- </a> -->

            <!-- <a routerLink="/tabs/profile"> -->
            <ion-tab-button routerLink="/tabs/profile">
                <ion-icon class="appname-customicon5"></ion-icon>
            </ion-tab-button>
            <!-- </a> -->

        </ion-tab-bar>
    </ion-tabs>

</ion-content>