.title {
    --ion-font-family: AppFont;
}

ion-header ion-toolbar:first-of-type {
    padding-top: var(--ion-safe-area-top, 0);
    --ion-font-family: AppFont;
}

.background-picture {
    background-image: url(../../../assets/images/01_Login-1.png);
    height: 100%;
    background-size: cover;
    background-repeat: round;
    width: 100%;
}

.login-details {
    background-color: var(--ion-color-primary-contrast);
    position: absolute;
    border-radius: 20px;
    top: 3%;
    left: 4%;
    width: 92%;
    // height: 27rem;
    /* box-shadow: 0px -10px 10px 0px #cbcbcb6b; */
    height: 86%;
    overflow: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

ion-menu-button {
    color: var(--ion-color-primary);
}

ion-icon {
    &[class*="appname-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: #FFF306;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="appname-customicon1"] {
        mask-image: url(../../../assets/images/Icon-feather-home-1.svg);
        background: white;
    }
    &[class*="appname-customicon2"] {
        mask-image: url(../../../assets/images/Group-6853-1.svg);
        background: white;
    }
    &[class*="appname-customicon3"] {
        mask-image: url(../../../assets/images/Icon-ionic-ios-add-circle-outline.svg);
        background: white;
    }
    &[class*="appname-customicon4"] {
        mask-image: url(../../../assets/images/Icon-material-chat-bubble.svg);
    }
    &[class*="appname-customicon5"] {
        mask-image: url(../../../assets/images/user-1.svg);
        background: white;
    }
}
ion-item[button] {
    pointer-events: initial !important;
}