<div class="custom-icon">
    <ion-icon (click)="dismiss()" name="close-outline"></ion-icon>
</div>

<div class="p-15">

    <h1>Forgot Password</h1>

    <label for="email" class="ml-8">Email Address</label>
    <div class="input">
        <ion-input clearInput [(ngModel)]="email" type="email" name="email" class="password" placeholder="Enter Registered Email Address">
        </ion-input>
    </div>

    <ion-button expand="full" (click)="forgotPassword()" class="btn1" color="primary">Reset Password</ion-button>

</div>