<!-- <ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="background-picture">
        <!-- <ion-img src="../../../assets/images/splash-background.png"></ion-img> -->
        <!-- <img src="../../../assets/images/splash-background.png" alt=""> -->

        <div class="login-details">

            <div class="login-container">
                <div class="font-icon">
                    <!-- <i class="fas fa-minus icon"></i> -->
                    <ion-icon name="remove-outline" class="icon"></ion-icon>
                </div>

                <h1 class="ion-text-center login-font">Sign up</h1>

                <label for="username" class="ml-8">User Name</label>
                <div class="input">
                    <!-- <input type="username" name="username" class="username" placeholder="Enter Username"> -->
                    <ion-input clearInput [(ngModel)]="username" type="username" name="username" class="username" placeholder="Enter Your User Name">
                    </ion-input>
                </div>

                <label for="username" class="ml-8">First Name</label>
                <div class="input">
                    <!-- <input type="username" name="username" class="username" placeholder="Enter Username"> -->
                    <ion-input clearInput [(ngModel)]="fname" type="username" name="username" class="username" placeholder="Enter Your First Name">
                    </ion-input>
                </div>

                <label for="username" class="ml-8">Last Name</label>
                <div class="input">
                    <!-- <input type="username" name="username" class="username" placeholder="Enter Username"> -->
                    <ion-input clearInput [(ngModel)]="lname" type="username" name="username" class="username" placeholder="Enter Your Last Name">
                    </ion-input>
                </div>

                <label for="username" class="ml-8">Mobile #</label>
                <div class="input">
                    <!-- <input type="username" name="username" class="username" placeholder="Enter Username"> -->
                    <ion-input clearInput [(ngModel)]="mobile" type="username" name="username" class="username" placeholder="Enter Your Mobile Number">
                    </ion-input>
                </div>

                <label for="username" class="ml-8">Email</label>
                <div class="input">
                    <!-- <input type="username" name="username" class="username" placeholder="Enter Username"> -->
                    <ion-input clearInput [(ngModel)]="email" type="username" name="username" class="username" placeholder="Enter Your Email">
                    </ion-input>
                </div>

                <label for="username" class="ml-8">Age</label>
                <div class="input">
                    <!-- <input type="username" name="username" class="username" placeholder="Enter Username"> -->
                    <ion-input clearInput [(ngModel)]="age" type="username" name="username" class="username" placeholder="Enter Your Age">
                    </ion-input>
                </div>

                <label for="password" class="ml-8">Password</label>
                <div class="input">
                    <!-- <input type="password" name="password" class="password" placeholder="Enter Password"> -->
                    <ion-input clearInput [(ngModel)]="password" type="password" name="password" class="password" placeholder="Enter Your Password">
                    </ion-input>
                </div>

                <label for="password" class="ml-8">Bio</label>
                <div class="input">
                    <!-- <input type="password" name="password" class="password" placeholder="Enter Password"> -->
                    <ion-input clearInput [(ngModel)]="bio" type="text" name="password" class="password" placeholder="Enter Your Bio">
                    </ion-input>
                </div>

                <label for="password" class="ml-8">Location</label>
                <div class="input">
                    <!-- <input type="password" name="password" class="password" placeholder="Enter Password"> -->
                    <ion-input clearInput [(ngModel)]="location" type="text" name="password" class="password" placeholder="Enter Your Location">
                    </ion-input>
                </div>

                <ion-button (click)="signup()" expand="full" class="btn1 img-click" color="primary">Sign up</ion-button>
                <div class="account-signup">
                    <p>Or Sign up With?</p>
                </div>
                <div class="account-signup">
                    <!-- <ion-img class="w-25" src="../../../assets/images/fb.png"></ion-img> -->
                    <ion-img class="w-15" src="../../../assets/images/gmail.png"></ion-img>
                </div>

                <div class="account-signup">
                    <p class="mb-0">Already have an account?</p>
                    <h5 class="mt-0 mr-0 mb-0 ml-5" (click)="backtologin()"><span>Sign In</span></h5>
                </div>


            </div>

        </div>

    </div>

    <div class="background-picture-1"></div>

</ion-content>