/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// ion-content {
//     font-family: 'a Attack Graffiti', sans-serif;
// }
.mt-0 {
    margin-top: 0px;
}

.mr-0 {
    margin-right: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.ml-0 {
    margin-left: 0px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-8 {
    margin-left: 8px;
}

.mr-8 {
    margin-right: 8px;
}

.my-custom-class {
    width: 100%;
    height: 100%;
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.7) !important;
    .modal-wrapper.sc-ion-modal-ios,
    .modal-shadow.sc-ion-modal-ios {
        width: 92%;
        height: 35%;
        left: 4%;
        position: absolute;
        border-radius: 20px;
        top: 35%;
    }
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-36 {
    width: 36px !important;
}

.w-30-px {
    width: 30px !important;
}

.h-30-px {
    height: 30px !important;
}

.w-25-px {
    width: 25px !important;
}

.w-40-px {
    width: 40px !important;
}

.h-25-px {
    height: 25px !important;
}

.w-26 {
    width: 26px !important;
}

.w-29 {
    width: 29px !important;
}

.w-33 {
    width: 33px !important;
}

.f-s-12 {
    font-size: 12px !important;
}

.f-s-14 {
    font-size: 14px !important;
}

.f-s-15 {
    font-size: 15px !important;
}

.f-s-18 {
    font-size: 18px !important;
}

.ml-27 {
    margin-left: 27px !important;
}

.ml-38 {
    margin-left: 38px !important;
}

.ml-35 {
    margin-left: 35px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.my-custom-menu {
    // width: 270px !important;
    --width: 270px !important;
}

.app-font {
    --ion-font-family: AppFont;
}

.custom-searchbar {
    .searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
        padding-inline-start: 70px !important;
    }
    .searchbar-search-icon.sc-ion-searchbar-ios {
        left: 25px !important;
    }
}

.custom-textarea {
    .native-textarea.sc-ion-textarea-md {
        text-align: left !important;
        padding-left: 30px !important;
        background-color: #f6f6f6 !important;
        margin-bottom: 10px;
    }
}

.img-click {
    position: relative;
    z-index: 999;
}